
body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del cuerpo */
  background-image: url("imagen5.jpg");
  filter: brightness(50%); /* Ajusta el brillo según sea necesario */
  background-size: cover;
}

.titulo {
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.seleccion {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

#letraciud {
  color: #ffffff;
  /*font-size: 10px;*/
}

.respuesta {
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}